#.obsidian/appearance.json
#.obsidian/command-palette.json
#.obsidian/community-plugins.json
#.obsidian/hotkeys.json
#.obsidian/plugins/*
#.obsidian/templates.json
#.obsidian/themes/*
#.obsidian/workspace/*
#.obsidian/workspaces.json
/.obsidian/*
!/.obsidian/app.json
!/.obsidian/backlink.json
!/.obsidian/command-palette.json
!/.obsidian/core-plugins.json
!/.obsidian/graph.json
!/.obsidian/switcher.json
