# Settings for the Obsidian config folder:
/.obsidian/*
!/.obsidian/app.json
!/.obsidian/backlink.json
!/.obsidian/core-plugins.json
!/.obsidian/graph.json
!/.obsidian/switcher.json
!/.obsidian/plugins/
/.obsidian/plugins/*
!/.obsidian/plugins/obsidian-linter/
/.obsidian/plugins/obsidian-linter/*
!/.obsidian/plugins/obsidian-linter/data.json
